<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
</head>
<body>
    <h1>Log in</h1>
    <form method="POST" action="/login">
        Username: 
        <input type="text" name="username" required>
        <br>
        <br>
        password:
        <input type="password" name="password" required>
        <br>
        <br>
        <button>Log in</button>
    </form>
    <br>
    <% if (typeof(error)!= "undefined") { %>
        <p style="color: red;"><%= error %></p>
    <% } %>
    
</body>
</html>