<footer>
    <p>
        _________________________________ <br>
    </p>
    <p> By Jesus Garcia-Loyola <br>
        Lab 5 <br>
        4/17/2025 <br>
        CST 336 Internet Programming <br>
    </p>
</footer>