<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Mars</h1>
    <%- include('partials/navbar.ejs')%> 
    <h3><%=mars.description%></h3>
    <img src="<%= mars.image %>">
    
</body>
<footer>
    <%- include('partials/footer.ejs')%> 
</footer>
</html>