<!-- filepath: /Users/jesus/Desktop/CST336/hw/HW3/views/home.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Hw3</h1>
    <%- include('parts/nav.ejs') %>
    <img id = "banner"src="/img/rickAndMorty.png" alt="">
    <p>This this website you can find some information about the show "Rick and Morty". 
        <br> In the Characters page you can find 5 random characters from the show.
        <br> You can find the some information of 51 episodes of the show in the Episodes page.
        <br> In the locations page you can find 5 random locations from the show.
    </p>
</body>
</html>