<nav>
        <a href="/home">Home</a> &nbsp;&nbsp;
        <a href="/author">Authors</a> &nbsp;&nbsp;
        <a href="/addAuthor">Add Author</a> &nbsp;&nbsp;
        <a href="/quote">Quotes</a> &nbsp;&nbsp;
        <a href="/addQuote">Add Quote</a> &nbsp;&nbsp;
</nav>