<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Solar System</h1>
    <%- include('partial/navbar.ejs') %>
    <form action="/nasa">
        <br>
        <input type="number" id="day" name="day">
        <br>
        <input type="number" id="year" name="year">
        <br>
        <select name="month">
            <option value="none">Month</option>
            <option value="1">Jan.</option>
            <option value="2">Feb.</option>
            <option value="3">Mar.</option>
            <option value="4">Apr.</option>
            <option value="5">May</option>
            <option value="6">Jun.</option>
            <option value="7">Jul.</option>
            <option value="8">Aug.</option>
            <option value="9">Sep.</option>
            <option value="10">Oct.</option>
            <option value="11">Nov.</option>
            <option value="12">Dec.</option>
        </select>
        <button>Submit</button>
    </form>
    <img src="<%= img.url %>" alt="">
    <p>
        <%= img.explanation %>
    </p>
    <%- include('partial/footer.ejs') %>
</body>
</html>